.PHONY: crontab/install crontab/copy

crontab/install:
	make crontab/copy

crontab/copy:
	if [ -d "/etc/cron.d" ] && [ -s "$(shell pwd)/config/crontab/$(APP_INSTANCE)" ]; then $(SUDO) cp "$(shell pwd)/config/crontab/$(APP_INSTANCE)" "/etc/cron.d/$(APP_NAME)-$(APP_INSTANCE)"; fi
