.PHONY: crontab/install

crontab/install:
ifeq (0, $(shell id -u))
ifeq (prod, $(APP_ENV))
ifeq ("$(wildcard /etc/cron.d/${APP_NAME}-$(APP_INSTANCE))","")
	ln -s "${PWD}/config/crontab/$(APP_INSTANCE)" "/etc/cron.d/${APP_NAME}-$(APP_INSTANCE)"
endif
endif
endif